config system dhcp server

{% set ns = namespace(counter=10) %}
{% for subnet, subnet_items in sub_tree.items() %}
{% if subnet_items.gw_ip is not defined %}
    {% continue %}
{% endif %}
    edit {{ ns.counter }}
        set default-gateway {{ subnet_items.gw_ip }}
        set netmask {{ subnet_items.subnet_details.netmask }}
        set interface "Interco_vlan920"
        config ip-range
            edit 1
                set start-ip {{ subnet_items.subnet_details.start_ip }}
                set end-ip {{ subnet_items.subnet_details.end_ip }}
            next
        end
        config options
{% for item in subnet_items.dhcp_options %}
            edit {{loop.index}}
                set code {{ item.code }}
                set type {{ item.type }}
{% if item.type != 'ip' %}
                set value {{ item.value }}
{% else %}
                set ip {{ item.value }}
{% endif %}
            next
{% if loop.last %}
        end
{% endif %}
{% endfor %}
{% if subnet_items.reserved_ip_ranges %}
        config exclude-range
{% for item in subnet_items.reserved_ip_ranges %}
            edit {{loop.index}}
                set start-ip {{item.start}}
                set end-ip {{item.end}}
            next
{% if loop.last %}
        end
{% endif %}
{% endfor %}
{% endif %}
{% if subnet_items.static_bindings %}
        config reserved-address
{% for item in subnet_items.static_bindings %}
            edit {{loop.index}}
                set ip {{ item.ip }}
                set mac {{ item.mac }}
{% if item.description %}
                set description "{{ item.description }}"
{% endif %}
            next
 {% if loop.last %}
        end
{% endif %}
{% endfor %}
{% endif %}
{% for ip in subnet_items.name_servers %}
        set dns-server{{ loop.index }} {{ ip }}
{% endfor %}
        next
{% set ns.counter = ns.counter + 1 %}

{% endfor %}
end
